.hero {
  $color: white;
  $fallback-color: #fefefe;
  $dark-color: #bfcad7;

  position: relative;

  &__heading {
    $spacer: 34px;
    $spacer-lg: 10.9vw;
    // $spacer-lg: 149px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    margin-bottom: 10px;

    font-family: $ff-azon;
    font-size: 47px;

    z-index: 1;

    @include bp-up(lg) {
      margin-bottom: 3px;

      font-size: 5.78vw;
      // font-size: 79px;
    }

    & span {
      line-height: 1;

      margin: 0 #{$spacer / 2};

      color: $fallback-color;
      background-image: linear-gradient(to top, rgba($dark-color, .25), rgba($color, .25)), linear-gradient(to top, $color, $color);
      -webkit-background-clip: text;

      -webkit-text-stroke: transparent;
      -webkit-text-fill-color: transparent;

      @include bp-up(lg) {
        margin: 0 #{$spacer-lg / 2};
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__features {
    $spacing-x: 29px;
    $spacing-y: 4px;

    $spacing-x-lg: 3.66vw;
    // $spacing-x-lg: 50px;
    $spacing-y-lg: 0;

    min-height: 100%;
    height: 34vh;
    padding: $spacing-y $spacing-x;

    overflow: hidden;

    @include bp-up(lg) {
      height: 41.7vh;
    }

    ul {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;

      margin: #{-$spacing-y} #{-$spacing-x};
      width: calc(100% + #{$spacing-x * 2});
      padding: 0;

      list-style: none;

      @include bp-up(lg) {
        flex-wrap: nowrap;

        margin: #{-$spacing-y-lg} #{-$spacing-x-lg};
        width: calc(100% + #{$spacing-x-lg * 2});
      }
    }

    li {
      $fz: 16px;
      $fz-lg: 1.75vw;
      // $fz-lg: 24px;
      $delimiter-w: 1px;
      $delimiter-w-lg: 0.07vw;

      @mixin delimiter {
        &:after {
          position: absolute;
          top: 50%;
          right: 1.5px;

          display: block;

          width: 1px;
          height: $fz;

          content: '';
          transform: translateY(-50%);

          background-color: rgba($color, .5);

          @include bp-up(lg) {
            height: $fz-lg;

            background-color: rgba($color, .8);
          }
        }
      }

      position: relative;

      color: $color;
      padding: $spacing-y $spacing-x;

      text-shadow: 0 0 3px rgba(8, 21, 52, 0.21);

      font-family: $ff-display;
      font-size: $fz;
      font-weight: 100;
      line-height: 1;

      text-transform: uppercase;

      @include bp-up(lg) {
        padding: $spacing-y-lg $spacing-x-lg;

        font-size: $fz-lg;
      }

      &:first-child {
        padding-right: $spacing-x + $delimiter-w;
        padding-left: 0;

        @include delimiter;

        @include bp-up(lg) {
          padding-right: $spacing-x-lg + $delimiter-w-lg;
          padding-left: $spacing-x-lg;
        }
      }

      &:nth-child(2) {
        padding-right: 0;

        @include bp-up(lg) {
          padding-right: $spacing-x-lg + $delimiter-w-lg;

          @include delimiter;
        }
      }

      &:last-child {
        text-align: center;

        min-width: 100%;

        @include bp-up(lg) {
          min-width: 0;
        }
      }

      span {
        margin: 0 5px;

        @include bp-up(lg) {
          margin: 0 0.62vw;
        }

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &__address {
    margin-bottom: 0;

    text-align: center;

    overflow: hidden;

    z-index: 1;

    @keyframes address {
      to {
        background-position: 0 50%;
      }
    }

    &-link {
      $bg-color: white;
      $bg-accent: #dddddd;

      display: inline-block;

      letter-spacing: 1.5px;

      color: rgba($color, 1);
      -webkit-text-fill-color: transparent;

      font-family: $ff-mont;
      font-size: 15px;

      background: linear-gradient(to left, $bg-color, $bg-color 48%, $bg-accent 50%, $bg-color 52%, $bg-color);
      background-clip: text;
      background-size: 100% 200%;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 300% 100%;
      background-position: 100% 50%;
      animation: address 4.5s linear 0s infinite;

      &:hover {
        animation: none;
        text-decoration-color: rgba($color, .8);
      }

      @include bp-up(lg) {
        letter-spacing: 0.11vw;

        color: rgba(#c8c8c8, .7);
        text-shadow: 0 0 12px rgba(22, 21, 21, 0.57);

        font-size: 1.135vw;
      }
    }
  }
}

.no-js {
  .hero {
    &__heading {
      opacity: 1 !important;
    }

    &__features li {
      opacity: 1 !important;
      transform: translate3d(0, 0, 0) !important;
    }

    &__address-link {
      opacity: 1 !important;
      transform: translate3d(0, 0, 0) !important;
    }
  }
}
