.formula {
  margin: 0;

  white-space: nowrap;

  &__name {
    vertical-align: middle;
    white-space: nowrap;
  }

  &__result {
    vertical-align: middle;
    white-space: nowrap;

    &--highlight {
      color: color('blue');
    }
  }
}
