.icon {
	display: inline-block;
	height: 1em;
	width: 1em;
	fill: inherit;
	stroke: inherit;
}

@mixin get-em-width($width, $height) {
	width: ($width / $height)+em;
}

.icon--computer {
	font-size: 24px;
	@include get-em-width(24, 24);
}

.icon--download {
	font-size: 24px;
	@include get-em-width(24, 24);
}

.icon--fish {
	font-size: 64px;
	@include get-em-width(64, 64);
}

.icon--logout {
	font-size: 24px;
	@include get-em-width(24, 24);
}

.icon--map {
	font-size: 24px;
	@include get-em-width(24, 24);
}

.icon--orders {
	font-size: 24px;
	@include get-em-width(24, 24);
}

.icon--piechart {
	font-size: 24px;
	@include get-em-width(24, 24);
}

.icon--piechart-filled {
	font-size: 24px;
	@include get-em-width(24, 24);
}

.icon--profile {
	font-size: 24px;
	@include get-em-width(24, 24);
}

.icon--settings {
	font-size: 24px;
	@include get-em-width(24, 24);
}

.icon--users {
	font-size: 24px;
	@include get-em-width(24, 24);
}

