.dashboard {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;

  &__nav {
    min-width: 105px * $cc;
  }

  &__content {
    padding-bottom: map-get($spacers, 4);

    flex-grow: 1;

    & > .container-fluid {
      max-width: calc(100% - #{(30px * $cc) + $grid-gutter-width});
    }
  }
}


@import 'side-nav';
